$yellow: #f8d210;
$darkGrey: #36454f;
$grey: #41525d;
$white: white;
$lightGrey: rgb(170, 170, 170);
$extraLightGrey: rgb(194, 194, 194);
$clear: rgba(255, 255, 255, 0);
$navHeightSmall: 4rem;
$navHeightMedium: 6rem;
$black: black;
