*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './variables';
@import './flex';
@import './userIcon';
@import './form';
@import './navbar';
@import './body';
@import './question';
@import './link';
@import './questionRoute';
@import './auth';
@import './questionForm';
@import './answer/answer';
@import './account/account';
@import './question/questionUpdate';
