.container-question-update {
  padding: 2rem;
  border: 0.1rem solid $lightGrey;
  border-radius: 0.5rem;
  font-family: sans-serif;
  label {
    font-size: large;
  }
  .container-autosizing-textarea {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input,
  textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: sans-serif;
    &:focus {
      outline: none;
    }
  }
  .container-btn-control {
    display: flex;
    flex-direction: column;
  }
}
